<div>
  <app-interpolation></app-interpolation>
  <app-self-evaluation-form></app-self-evaluation-form>
</div>

<div class="col-sm-6" style="margin-left: 5%">
  <app-interaction></app-interaction>
</div>

<div class="col-sm-6" style="margin-left: 5%">
  <app-style-test></app-style-test>
</div>

<div class="col-sm-6" style="margin-left: 5%">
    <app-style-binding></app-style-binding>
</div>
<div class="col-sm-6" style="margin-left: 5%">
  <app-event-binding></app-event-binding>
</div>

<div class="col-sm-6" style="margin-left: 2%">
  <app-template-reference-variables></app-template-reference-variables>
</div>

<div class="col-sm-6" style="margin-left: 2%;">
  <app-two-way-binding></app-two-way-binding>
</div>

<div class="col-sm-6" style="margin-left: 2%">
  <app-structural-directives></app-structural-directives>
</div>

<div>
  <app-switch-plus-tab></app-switch-plus-tab>
</div>

<div>
  <app-for-component></app-for-component>
  <lib-ng-toast></lib-ng-toast>
</div>

<div>
  <app-parent-component></app-parent-component>
</div>
